﻿
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }

    .footer {
        position: fixed;
        /*        left: 0;*/
        bottom: 0;
        /*        width: 100%;*/
        /*background-color: red;
        color: white;
        text-align: center;*/
    }
</style>
@*<div>
        <div class='block-web' style='float: left; width: 100%; height: 36px;'>
            <div class="header">
                <div class="crumbs">
                    <ul id="breadcrumbs" class="breadcrumb">
                        <li>
                            <a class="mn_breadcrumb">Summary</a>
                        </li>
                        <li class="current">Project Summary</li>

                    </ul>
                </div>
            </div>
        </div>
    </div>*@
<div class="row" style="margin-top:13px;">
    <div>
        <ul id="divCter" runat="server" visible="false" class="btn-info rbtn_panel" style="float: right;padding: 7px;">

            <span style="margin-right: 4px; vertical-align: text-bottom;">TAEGUTEC</span>
            <input type="radio" ID="rdBtnTaegutec" disabled="disabled" />
            <span style="margin-right: 4px; margin-left: 4px; vertical-align: text-bottom;">DURACARB</span>
            <input type="radio" ID="rdBtnDuraCab" disabled="disabled" />

        </ul>

    </div>
    <div>
        <ul id="divProjectType" runat="server" visible="true" class="btn-info rbtn_panel" style="float: left;width: 335px;padding: 7px;">

            <span style="margin-right: 4px; vertical-align: text-bottom;">Marketing Project</span>
            <input type="radio" ID="marketing" disabled="disabled" />
            <span style="margin-right: 4px; margin-left: 4px; vertical-align: text-bottom;">TechSupport Project</span>
            <input type="radio" n ID="techsupport" disabled="disabled" />

        </ul>
    </div>
    @*<div>
            <input type="radio" id="marketing" name="gender" value="male">
            <label for="male">Marketing Project</label>
            <input type="radio" id="techsupport" name="gender" value="female">
            <label for="female">Tech Support Project</label>
        </div>*@
</div>

<div class="row mn_sales">
    <div class="col-md-12 nopadding">
        <div class="mn_box">
            <div class="col-md-3">
                <div class="form-horizontal">
                    <div>
                        <h2>CUSTOMER</h2>
                        <div class="control-group">
                            <input type="radio" id="directcus" name="gender" value="male" disabled="disabled">
                            <label for="male">Direct Customer</label>
                            <input type="radio" id="channelpartner" name="gender" value="female" disabled="disabled">
                            <label for="female">Channel Partner</label>
                        </div>
                        <div class="control-group" id="chparter">

                            <label class="control-label">Channel Partner</label>
                            <div class="controls">

                                <input type="text" id="txtchannelpartner" disabled="disabled" />
                            </div>
                        </div>
                        <div class="control-group">

                            <label class="control-label">Customer Name</label>
                            <div class="controls">

                                <input type="text" id="ddlCustomer" disabled="disabled" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Customer Class </label>
                            <div class="controls">
                                <input type="text" id="txtCustClass" disabled="disabled" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Industry </label>
                            <div class="controls">
                                <input type="text" id="txtIndustry" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-horizontal">
                    <h2> PROJECT DETAILS</h2>
                </div>
                <div class="form-horizontal">
                    <div class="col-md-6 nopadding">
                        <div>
                            <div class="control-group">
                                <input type="radio" id="existingproj" name="gender1" value="male" disabled="disabled">
                                <label for="male">Existing Project</label>
                                <input type="radio" id="newproj" name="gender1" value="female" disabled="disabled">
                                <label for="female">New Project</label>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Project Title </label>
                                <div class="controls">

                                    <input type="text" id="ddlProject" disabled="disabled" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Project Type</label>
                                <div class="controls">
                                    <input type="text" id="txtProjType" disabled="disabled" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Product Group</label>
                                <div class="controls">
                                    <input type="text" id="txtProdgroup" disabled="disabled" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Existing Brand</label>
                                <div class="controls">
                                    <input type="text" id="txtExistingBrand" disabled="disabled" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Component </label>
                                <div class="controls">
                                    <input type="text" id="txtComponent" disabled="disabled" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Taegutec Cutter </label>
                                <div class="controls">
                                    <input type="text" id="txttaeguteccutter" disabled="disabled" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Taegutec Insert </label>
                                <div class="controls">
                                    <input type="text" id="txttaegutecinsert" disabled="disabled" />
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 nopadding">

                        <div class="clearfix"></div>
                        <div class="control-group">
                            <label class="control-label">Competitor Cutter </label>
                            <div class="controls">
                                <input type="text" id="txtCompetitionSpec" disabled="disabled" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Competitor Insert </label>
                            <div class="controls">
                                <input type="text" id="txtCompetitioninsert" disabled="disabled" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">No.of Stages </label>
                            <div class="controls">
                                <input type="text" id="txtStages" disabled="disabled" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Target Date</label>
                            <div class="controls">
                                <input type="text" id="txtTargetDate" disabled="disabled" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Owner</label>
                            <div class="controls">
                                <input type="text" id="txtOwner" disabled="disabled" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Sales Eng</label>
                            <div class="controls">
                                <input type="text" id="txtsalesEngg" disabled="disabled" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Reviewer</label>
                            <div class="controls">
                                <input type="text" id="txtReviewer" disabled="disabled" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Escalate to</label>
                            <div class="controls">
                                <input type="text" id="txtExcaleteTo" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-horizontal">
                    <div>
                        <!-- Address form -->
                        <h2>ANNUAL BUSINESS VALUE (LAKHS)</h2>
                        <!-- address-line1 input-->
                        <div class="control-group">
                            <label class="control-label" id="customer">Customer Potential</label>
                            <div class="controls">
                                <input type="text" id="txtCustPotential" disabled="disabled" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" id="project">Project Potential</label>
                            <div class="controls">
                                <input type="text" id="txtProjPotential" disabled="disabled" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" id="bussiness">Business Share Expected</label>
                            <div class="controls">
                                <input type="text" id="txtBusinessExpected" disabled="disabled" />
                            </div>
                        </div>
                        <div style="margin-top: 15px;">
                            <div class="control-group">
                                <label class="control-label" id="ordercur" style="width: 43%;">Order Target Current Year </label>
                                <div class="controls">
                                    <input type="text" id="txtordertargetcuryear" disabled="disabled" style="width: 57%;" />
                                </div>
                            </div>
                        </div>
                        <div style="margin-top: 15px;">
                            <div class="control-group">
                                <label class="control-label" id="ordertarget" style="width: 43%;">Order Target Next Year</label>
                                <div class="controls">
                                    <input type="text" id="txtordertargetnextyear" disabled="disabled" style="width: 57%;" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 nopadding">
        <div class="mn_box_new">
            <h2 id="details">Stages</h2>
            <br />
            <!-- Pack 1-->
            <div class="row">
                <div class="col-md-3" id="Div0">
                    <div class="pricing_header">
                        <h2 id="stage1">Stage 1</h2>
                        <div class="space"></div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-bullseye" aria-hidden="true"></i><b> GOAL :</b><asp:Label runat="server" ID="lblGoal1"></asp:Label></li>
                        <li class="list-group-item"><i class="fa fa-calendar" aria-hidden="true"></i> <b>Target Date : </b><asp:Label runat="server" ID="lblTarget1"></asp:Label></li>

                        <li class="list-group-item"><i class="fa fa-comment" aria-hidden="true"></i> <b>REMARKS :</b><asp:Label runat="server" ID="lblremarks1"></asp:Label></li>
                    </ul>
                </div>
                <!-- Pack 2-->
                <div class="col-md-3" id="Div1">
                    <div class="pricing_header">
                        <h2 id="stage2">Stage 2</h2>
                        <div class="space"></div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-bullseye" aria-hidden="true"></i> <b>GOAL : </b><asp:Label runat="server" ID="lblGoal2"></asp:Label></li>
                        <li class="list-group-item"><i class="fa fa-calendar" aria-hidden="true"></i> <b>Target Date : </b><asp:Label runat="server" ID="lblTarget2"></asp:Label></li>
                        <li id="liprojectno" class="list-group-item"><i class="fa fa-comment" aria-hidden="true"></i> <b>Project Number : </b><asp:Label runat="server" ID="lblprojectno2"></asp:Label></li>
                        <li class="list-group-item"><i class="fa fa-comment" aria-hidden="true"></i> <b>REMARKS : </b><asp:Label runat="server" ID="lblremarks2"></asp:Label></li>
                    </ul>
                </div>
                <!-- Pack 3-->
                <div class="col-md-3" id="Div2">
                    <div class="pricing_header">
                        <h2 id="stage3">Stage 3</h2>
                        <div class="space"></div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-bullseye" aria-hidden="true"></i> <b>GOAL : </b><asp:Label runat="server" ID="lblGoal3"></asp:Label></li>
                        <li class="list-group-item"><i class="fa fa-calendar" aria-hidden="true"></i> <b>Target Date : </b><asp:Label runat="server" ID="lblTarget3"></asp:Label></li>

                        <li class="list-group-item"><i class="fa fa-comment" aria-hidden="true"></i> <b>REMARKS : </b><asp:Label runat="server" ID="lblremarks3"></asp:Label></li>
                    </ul>
                </div>

                <!-- Pack 4-->
                <div class="col-md-3" id="Div3">
                    <div class="pricing_header">
                        <h2 id="stage4">Stage 4</h2>
                        <div class="space"></div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-bullseye" aria-hidden="true"></i> <b>GOAL : </b><asp:Label runat="server" ID="lblGoal4"></asp:Label></li>
                        <li class="list-group-item"><i class="fa fa-calendar" aria-hidden="true"></i> <b>Target Date : </b><asp:Label runat="server" ID="lblTarget4"></asp:Label></li>

                        <li class="list-group-item"><i class="fa fa-comment" aria-hidden="true"></i> <b>REMARKS : </b><asp:Label runat="server" ID="lblremarks4"></asp:Label></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <!-- Pack 5-->
                <div class="col-md-3" id="Div4fortechsupport">
                    <div class="pricing_header">
                        <h2 id="stage5Y">Stage 5</h2>
                        <div class="space"></div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-bullseye" aria-hidden="true"></i> <b>GOAL : </b><asp:Label runat="server" ID="lblGoal5Y"></asp:Label></li>
                        <li class="list-group-item"><i class="fa fa-calendar" aria-hidden="true"></i> <b>Target Date : </b><asp:Label runat="server" ID="lblTarget5Y"></asp:Label></li>

                        <li class="list-group-item"><i class="fa fa-comment" aria-hidden="true"></i> <b>REMARKS : </b><asp:Label runat="server" ID="lblremarks5Y"></asp:Label></li>
                        <li class="list-group-item"><i class="fa fa-comment" aria-hidden="true"></i> <b>Order Number : </b><asp:Label runat="server" ID="lblorderno5Y"></asp:Label></li>
                        <li class="list-group-item"><i class="fa fa-comment" aria-hidden="true"></i> <b>Order Val : </b><asp:Label runat="server" ID="lblorderval5Y"></asp:Label></li>
                    </ul>
                </div>

                <div class="col-md-3" id="Div4">
                    <div class="pricing_header">
                        <h2 id="stage5">Stage 5</h2>
                        <div class="space"></div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-bullseye" aria-hidden="true"></i> <b>GOAL : </b><asp:Label runat="server" ID="lblGoal5"></asp:Label></li>
                        <li class="list-group-item"><i class="fa fa-calendar" aria-hidden="true"></i> <b>Target Date : </b><asp:Label runat="server" ID="lblTarget5"></asp:Label></li>

                        <li class="list-group-item"><i class="fa fa-comment" aria-hidden="true"></i> <b>REMARKS : </b><asp:Label runat="server" ID="lblremarks5"></asp:Label></li>
                    </ul>
                </div>
                <!-- Pack 6-->
                <div class="col-md-3" id="Div5">
                    <div class="pricing_header">
                        <h2 id="stage6">Stage 6</h2>
                        <div class="space"></div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-bullseye" aria-hidden="true"></i> <b>GOAL : </b><asp:Label runat="server" ID="lblGoal6"></asp:Label></li>
                        <li class="list-group-item"><i class="fa fa-calendar" aria-hidden="true"></i> <b>Target Date : </b><asp:Label runat="server" ID="lblTarget6"></asp:Label></li>

                        <li class="list-group-item"><i class="fa fa-comment" aria-hidden="true"></i> <b>REMARKS : </b><asp:Label runat="server" ID="lblremarks6"></asp:Label></li>
                    </ul>
                </div>

                <!-- Pack 7-->
                <div class="col-md-3" id="Div6">
                    <div class="pricing_header">
                        <h2 id="stage7">Stage 7</h2>
                        <div class="space"></div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-bullseye" aria-hidden="true"></i> <b>GOAL : </b><asp:Label runat="server" ID="lblGoal7"></asp:Label></li>
                        <li class="list-group-item"><i class="fa fa-calendar" aria-hidden="true"></i> <b>Target Date : </b><asp:Label runat="server" ID="lblTarget7"></asp:Label></li>

                        <li class="list-group-item"><i class="fa fa-comment" aria-hidden="true"></i> <b>REMARKS : </b><asp:Label runat="server" ID="lblremarks7"></asp:Label></li>
                    </ul>
                </div>

                <div class="col-md-3" id="Div7fortechsupport">
                    <div class="pricing_header">
                        <h2 id="stage8Y">Stage 8</h2>
                        <div class="space"></div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-bullseye" aria-hidden="true"></i> <b>GOAL : </b><asp:Label runat="server" ID="lblGoal8Y"></asp:Label></li>
                        <li class="list-group-item"><i class="fa fa-calendar" aria-hidden="true"></i> <b>Target Date : </b><asp:Label runat="server" ID="lblTarget8Y"></asp:Label></li>

                        <li class="list-group-item"><i class="fa fa-comment" aria-hidden="true"></i> <b>REMARKS : </b><asp:Label runat="server" ID="lblremarks8Y"></asp:Label></li>
                        <li class="list-group-item"><i class="fa fa-comment" aria-hidden="true"></i> <b>Order Number : </b><asp:Label runat="server" ID="lblorderno8Y"></asp:Label></li>
                        <li class="list-group-item"><i class="fa fa-comment" aria-hidden="true"></i> <b>Order Val : </b><asp:Label runat="server" ID="lblorderval8Y"></asp:Label></li>
                    </ul>
                </div>

                <!-- Pack 8-->
                <div class="col-md-3" id="Div7">
                    <div class="pricing_header">
                        <h2 id="stage8">Stage 8</h2>
                        <div class="space"></div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-bullseye" aria-hidden="true"></i> <b>GOAL : </b><asp:Label runat="server" ID="lblGoal8"></asp:Label></li>
                        <li class="list-group-item"><i class="fa fa-calendar" aria-hidden="true"></i> <b>Target Date : </b><asp:Label runat="server" ID="lblTarget8"></asp:Label></li>

                        <li class="list-group-item"><i class="fa fa-comment" aria-hidden="true"></i> <b>REMARKS : </b><asp:Label runat="server" ID="lblremarks8"></asp:Label></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <!-- Pack 9-->
                <div class="col-md-3" id="Div8">
                    <div class="pricing_header">
                        <h2 id="stage9">Stage 9</h2>
                        <div class="space"></div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-bullseye" aria-hidden="true"></i> <b>GOAL : </b><asp:Label runat="server" ID="lblGoal9"></asp:Label></li>
                        <li class="list-group-item"><i class="fa fa-calendar" aria-hidden="true"></i> <b>Target Date : </b><asp:Label runat="server" ID="lblTarget9"></asp:Label></li>

                        <li class="list-group-item"><i class="fa fa-comment" aria-hidden="true"></i> <b>REMARKS : </b><asp:Label runat="server" ID="lblremarks9"></asp:Label></li>
                    </ul>
                </div>

                <!-- Pack10-->
                <div class="col-md-3" id="Div9">
                    <div class="pricing_header">
                        <h2 id="stage10">Stage 10</h2>
                        <div class="space"></div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-bullseye" aria-hidden="true"></i> <b>GOAL : </b><asp:Label runat="server" ID="lblGoal10"></asp:Label></li>
                        <li class="list-group-item"><i class="fa fa-calendar" aria-hidden="true"></i> <b>Target Date : </b><asp:Label runat="server" ID="lblTarget10"></asp:Label></li>

                        <li class="list-group-item"><i class="fa fa-comment" aria-hidden="true"></i> <b>REMARKS : </b><asp:Label runat="server" ID="lblremarks10"></asp:Label></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>
<div style="height:60px"></div>
<div class="row">
    <div id="Approvereject" class="col-md-12 footer" style="float: right">

        <div style="margin-bottom: -46px;margin-top: 10px; margin-right: -99px;"><label>Remarks</label></div>
        @*<input type="text" id="txtRemarks" />*@
        <input type="text" id="txtRemarks" name="w3review" style=" margin: -3px;width: 275px;height: 40px;margin-right: -690px;margin-top: 10px;margin-bottom: -5px;"/>

        <input type="button" class="btn btn-danger" id="btnReject" name="reject" value="Reject" style="margin-left: 25px;margin-right: 62px;margin-top: 11px;" />

        <input type="button" class="btn btn-green" id="btnApprove" name="approve" value="Approve" style="color: white;background: green;margin-top: 11px;" />
        <div style="margin-right: -311px;margin-top:6px;"><span style="color: black;font-size: 12px;">Allow 200 character</span></div>
    </div>
</div>



@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>*@
<script src="~/js/jquery-2.1.4.min.js"></script>
<script>

    @*function GetProject(Inputparam) {
        $.ajax({
            url: '/ProjectSummary/GetCustomerdet',
            type: 'POST',
            data: typeof (Inputparam) === 'object' ? JSON.stringify(Inputparam) : Inputparam,

            contentType: 'application/json',

            success: function (res) {
                var custno = res[0].customer_Name;
                if (res != "") {
                    var newOption = "";

                    for (var k = 0; k < res.length; k++) {

                        newOption += '<option value=' + res[k].customer_Name + '>' + res[k].Customer_no + '</option>';

                    }
                    $('#ddlCustomer').append(newOption);
                }

                var distributed_Name = '@ViewBag.distributed_Name';
                var cssdata = "";
                $.get("/ProjectSummary/GetProjectdet", { distributed_Name: distributed_Name, custno: custno }, function (data) {
                    if (data != "") {
                        for (var m = 0; m < data.length; m++) {
                            cssdata += '<option value="' + data[m].ProjectNo + '">' + data[m].ProjectName + '</option>';

                        }
                        $('#ddlProject').append(cssdata);
                    }
                    var projectNo = data[0].ProjectNo;


                });
            },
            error: function (err) {
                //alert("fail");
            }
        });

    }*@

    function PageLoad(projectNo, custno) {
        var baseurl = '@Url.Content("~")';
        var mainurl = baseurl + "/ProjectSummary/GetCustomerAndProjects";
        var mainurl1 = baseurl + "/ProjectSummary/GetProjectsStages";
        var mainurl2 = baseurl + "/ProjectSummary/Getcustclass";
        //var mainurl2 = "/ProjectSummary/Getcustclass";
        //var mainurl = "/ProjectSummary/GetCustomerAndProjects";
        //var mainurl1 = "/ProjectSummary/GetProjectsStages";
        $.get(mainurl, { ProjectNo: projectNo, custno: custno }, function (data) {
            if (data != "") {
                for (var i = 0; i < data.length; i++) {
                    $("#existingproj").prop("checked", true);
                    if (data[i].Distributor != "" && data[i].Distributor != null) {
                        $.get(mainurl2, { custno: custno }, function (data1) {
                            if (data1 != "") {
                                $("#txtCustClass").val(data1);
                            }
                        });
                    }

                    else {
                        $("#txtCustClass").val(data[i].txtCustClass);
                    }

                    if (data[i].Approve =="Approved") {
                        $("#Approvereject").hide();
                    }
                    if (data[i].txtExistingBrand != "" && data[i].txtExistingBrand != null) {
                        $("#existingproj").prop("checked", true);
                    }
                    else {
                        $("#existingproj").prop("checked", true);
                    }
                    if (data[i].txtchannelpartner != "" && data[i].txtchannelpartner != null) {
                        $("#channelpartner").prop("checked", true);
                    }
                    else {
                        $("#directcus").prop("checked", true);
                        $("#channelpartner").prop("checked", false);
                        $("#chparter").hide();
                    }
                    if (data[i].custType == "TTA") {
                        $("#rdBtnTaegutec").prop("checked", true);
                        $("#rdBtnDuraCab").prop("checked", false);
                    }
                    else if (data[i].custType == "DUR") {
                        $("#rdBtnTaegutec").prop("checked", false);
                        $("#rdBtnDuraCab").prop("checked", true);
                    }
                    if (data[i].marketing == "Y") {
                        $("#techsupport").prop("checked", true);
                        $("#txtProjPotential").show();
                        $("#txtordertargetcuryear").show();
                        $("#txtordertargetnextyear").show();
                        $("#txtBusinessExpected").show();
                        $("#txtCustPotential").hide();
                        $("#customer").hide();
                    }
                    else {
                        $("#techsupport").prop("checked", false);
                        $("#marketing").prop("checked", true);
                        $("#txtProjPotential").show();
                        $("#txtCustPotential").show();
                        $("#txtBusinessExpected").show();
                        $("#txtordertargetcuryear").hide();
                        $("#txtordertargetnextyear").hide();
                        $("#ordercur").hide();
                        $("#ordertarget").hide();
                    }
                    $("#txtBusinessExpected").val(data[i].txtBusinessExpected);
                    $("#txtCompetitionSpec").val(data[i].txtCompetitionSpec);
                    $("#txtComponent").val(data[i].txtComponent);
                  
                    $("#txtCustPotential").val(data[i].txtCustPotential);
                    $("#txtExcaleteTo").val(data[i].txtExcaleteTo);
                    $("#txtExistingBrand").val(data[i].txtExistingBrand);
                    $("#txtIndustry").val(data[i].txtIndustry);
                    $("#txtOwner").val(data[i].txtOwner);
                    $("#txtProjType").val(data[i].txtProjType);
                    $("#txtReviewer").val(data[i].txtReviewer);
                    $("#txtStages").val(data[i].txtStages);
                    $("#txtTargetDate").val(data[i].txtTargetDate);
                    $("#txtProjPotential").val(data[i].txtProjPotential);
                    $("#txtsalesEngg").val(data[i].txtsalesEngg);
                    $("#txtordertargetcuryear").val(data[i].txtordertargetcuryear);
                    $("#txtordertargetnextyear").val(data[i].txtordertargetnextyear);
                    $("#txtCompetitioninsert").val(data[i].txtCompetitioninsert);
                    $("#txttaegutecinsert").val(data[i].txttaegutecinsert);
                    $("#txttaeguteccutter").val(data[i].txttaeguteccutter);
                    $("#txtProdgroup").val(data[i].txtProdgroup);
                    $("#txtchannelpartner").val(data[i].txtchannelpartner);
                }
                $.get(mainurl1, { customerNo: custno, projectNo: projectNo }, function (res) {
                    if (res != "") {
                        for (var j = 0; j < res.length; j++) {
                            if (res[j].Stage_Number == "1") {
                                if (res[j].marketing == "Y") {
                                    $("#stage1").html(res[j].Goal);
                                }
                                else {
                                    $("#stage1").html('Stage 1');
                                }
                                $("#lblGoal1").text(res[j].Goal);
                                $("#lblremarks1").text(res[j].Remarks);
                                $("#lblTarget1").text(res[j].Target_Date);
                                $("#Div0").show();
                                $("#Div4fortechsupport").hide();
                                $("#Div7fortechsupport").hide();
                                $("#Div1").hide();
                                $("#Div2").hide();
                                $("#Div3").hide();
                                $("#Div4").hide();
                                $("#Div5").hide();
                                $("#Div6").hide();
                                $("#Div7").hide();
                                $("#Div8").hide();
                                $("#Div9").hide();
                            }
                            else if (res[j].Stage_Number == "2") {
                                if (res[j].marketing == "Y") {
                                    $("#stage2").html(res[j].Goal);
                                    $("#lblprojectno2").text(res[j].ProjectNumber);
                                }
                                else {
                                    $("#stage2").html('Stage 2');
                                    $("#lblprojectno2").hide();
                                    $("#liprojectno").hide();
                                }
                                $("#lblGoal2").text(res[j].Goal);
                                $("#lblremarks2").text(res[j].Remarks);
                                $("#lblTarget2").text(res[j].Target_Date);
                                $("#Div1").show();
                                $("#Div7fortechsupport").hide();
                                $("#Div4fortechsupport").hide();
                                $("#Div2").hide();
                                $("#Div3").hide();
                                $("#Div4").hide();
                                $("#Div5").hide();
                                $("#Div6").hide();
                                $("#Div7").hide();
                                $("#Div8").hide();
                                $("#Div9").hide();
                            }
                            else if (res[j].Stage_Number == "3") {
                                if (res[j].marketing == "Y") {
                                    $("#stage3").html(res[j].Goal);
                                }
                                else {
                                    $("#stage3").html('Stage 3');
                                }
                                $("#lblGoal3").text(res[j].Goal);
                                $("#lblremarks3").text(res[j].Remarks);
                                $("#lblTarget3").text(res[j].Target_Date);

                                $("#Div2").show();
                                $("#Div3").hide();
                                $("#Div7fortechsupport").hide();
                                $("#Div4fortechsupport").hide();
                                $("#Div4").hide();
                                $("#Div5").hide();
                                $("#Div6").hide();
                                $("#Div7").hide();
                                $("#Div8").hide();
                                $("#Div9").hide();
                            }
                            else if (res[j].Stage_Number == "4") {
                                if (res[j].marketing == "Y") {
                                    $("#stage4").html(res[j].Goal);
                                }
                                else {
                                    $("#stage4").html('Stage 4');
                                }
                                $("#lblGoal4").text(res[j].Goal);
                                $("#lblremarks4").text(res[j].Remarks);
                                $("#lblTarget4").text(res[j].Target_Date);

                                $("#Div3").show();
                                $("#Div7fortechsupport").hide();
                                $("#Div4fortechsupport").hide();
                                $("#Div4").hide();
                                $("#Div5").hide();
                                $("#Div6").hide();
                                $("#Div7").hide();
                                $("#Div8").hide();
                                $("#Div9").hide();
                            }
                            else if (res[j].Stage_Number == "5") {

                                if (res[j].marketing == "Y") {
                                    $("#stage5Y").html(res[j].Goal);
                                    $("#lblGoal5Y").text(res[j].Goal);
                                    $("#lblremarks5Y").text(res[j].Remarks);
                                    $("#lblTarget5Y").text(res[j].Target_Date);
                                    $("#lblorderno5Y").text(res[j].Order_No);
                                    $("#lblorderval5Y").text(res[j].Order_value);
                                    $("#Div4fortechsupport").show();
                                    $("#Div4").hide();
                                }
                                else {
                                    $("#stage5").html('Stage 5');
                                    $("#lblGoal5").text(res[j].Goal);
                                    $("#lblremarks5").text(res[j].Remarks);
                                    $("#lblTarget5").text(res[j].Target_Date);
                                    $("#Div4fortechsupport").hide();
                                    $("#Div4").show();
                                }
                                $("#Div7fortechsupport").hide();
                                $("#Div5").hide();
                                $("#Div6").hide();
                                $("#Div7").hide();
                                $("#Div8").hide();
                                $("#Div9").hide();
                            }
                            else if (res[j].Stage_Number == "6") {
                                if (res[j].marketing == "Y") {
                                    $("#stage6").html(res[j].Goal);
                                }
                                else {
                                    $("#stage6").html('Stage 6');
                                }
                                $("#lblGoal6").text(res[j].Goal);
                                $("#lblremarks6").text(res[j].Remarks);
                                $("#lblTarget6").text(res[j].Target_Date);

                                $("#Div5").show();
                                $("#Div7fortechsupport").hide();
                                $("#Div6").hide();
                                $("#Div7").hide();
                                $("#Div8").hide();
                                $("#Div9").hide();
                            }
                            else if (res[j].Stage_Number == "7") {
                                if (res[j].marketing == "Y") {
                                    $("#stage7").html(res[j].Goal);
                                }
                                else {
                                    $("#stage7").html('Stage 7');
                                }
                                $("#lblGoal7").text(res[j].Goal);
                                $("#lblremarks7").text(res[j].Remarks);
                                $("#lblTarget7").text(res[j].Target_Date);

                                $("#Div7fortechsupport").hide();
                                $("#Div6").show();
                                $("#Div7").hide();
                                $("#Div8").hide();
                                $("#Div9").hide();
                            }
                            else if (res[j].Stage_Number == "8") {

                                if (res[j].marketing == "Y") {
                                    $("#stage8Y").html(res[j].Goal);
                                    $("#lblGoal8Y").text(res[j].Goal);
                                    $("#lblremarks8Y").text(res[j].Remarks);
                                    $("#lblTarget8Y").text(res[j].Target_Date);
                                    $("#lblorderno8Y").text(res[j].Order_No);
                                    $("#lblorderval8Y").text(res[j].Order_value);
                                    $("#Div7fortechsupport").show();
                                    $("#Div7").hide();
                                }
                                else {
                                    $("#stage8").html('Stage 8');
                                    $("#lblGoal8").text(res[j].Goal);
                                    $("#lblremarks8").text(res[j].Remarks);
                                    $("#lblTarget8").text(res[j].Target_Date);
                                    $("#Div1fortechsupport").hide();
                                    $("#Div7").show();
                                }

                                $("#Div8").hide();
                                $("#Div9").hide();
                            }
                            else if (res[j].Stage_Number == "9") {
                                if (res[j].marketing == "Y") {
                                    $("#stage9").html(res[j].Goal);
                                }
                                else {
                                    $("#stage9").html('Stage 9');
                                }
                                $("#lblGoal9").text(res[j].Goal);
                                $("#lblremarks9").text(res[j].Remarks);
                                $("#lblTarget9").text(res[j].Target_Date);

                                $("#Div8").show();
                                $("#Div9").hide();
                            }
                            else if (res[j].Stage_Number == "10") {
                                if (res[j].marketing == "Y") {
                                    $("#stage10").html(res[j].Goal);
                                }
                                else {
                                    $("#stage10").html('Stage 10');
                                }
                                $("#lblGoal10").text(res[j].Goal);
                                $("#lblremarks10").text(res[j].Remarks);
                                $("#lblTarget10").text(res[j].Target_Date);

                                $("#Div9").show();
                            }
                        }
                    }
                });
            }

        });
    }

    $(document).ready(function (e) {
        var custno ='@ViewBag.CustomerNo';
        var projectNo = '@ViewBag.ProjectNo';

        var custName = '@ViewBag.ddlcustomerName';
        var projectName = '@ViewBag.ddlprojectName';

        $("#ddlCustomer").val(custName);
        $("#ddlProject").val(projectName);
        //GetProject(Inputparam);
        PageLoad(projectNo, custno);
    });

    $(document).on("change", "#txtRemarks", function (e) {
        var remark = $("#txtRemarks").val();
        var length = remark.length;
        if (length >= 200) {
            alert("The length of the Entered text should be less than 200 character, please give within that limit");
            $("#txtRemarks").val('');
        }
    });

    $(document).on("click", "#btnApprove", function (e) {
        $("#btnApprove").prop("disabled", true);
        var Id = '@ViewBag.reviewerID';
        var custno ='@ViewBag.CustomerNo';
        var projectNo = '@ViewBag.ProjectNo';
        var remarks = $("#txtRemarks").val();
          var baseurl = '@Url.Content("~")';
        var mainurl = baseurl + "/ProjectSummary/Approve";
        //var mainurl = "/ProjectSummary/Approve";
        $.get(mainurl, { Id: Id, custno: custno, projectNo: projectNo, remarks: remarks }, function (data) {
            if (data == "Success") {
                alert("Approved Successfully");
                $("#Approvereject").hide();
            }
            else {
                alert("Sorry You dont have permission to Approve");
                $("#btnApprove").prop("disabled", false);
            }

        });

    });

    $(document).on("click", "#btnReject", function (e) {
        $("#btnReject").prop("disabled", true);
        var Id = '@ViewBag.reviewerID';
        var custno ='@ViewBag.CustomerNo';
        var projectNo = '@ViewBag.ProjectNo';
        var remarks = $("#txtRemarks").val();
        var baseurl = '@Url.Content("~")';
        var mainurl = baseurl + "/ProjectSummary/Reject";
        //var mainurl = "/ProjectSummary/Reject";
        if (remarks == "") {
            alert("Please enter remarks");
            $("#btnReject").prop("disabled", false);
        }
        else {
            $.get(mainurl, { Id: Id, custno: custno, projectNo: projectNo, remarks: remarks }, function (data) {
                if (data == "Success") {
                    alert("Rejected Successfully");
                    $("#Approvereject").hide();
                }
            });
        }

    });

</script>
