﻿*
{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*font-size: 14px!important;*/
}
body
{
     background: #f4f4f4;
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
   font-size: 13px!important;
}
/*body
{
   
    font-family: 'open sans', sans-serif !important;
}*/
/*Header*/
header
{
    width: 100%;
    float: left;
    background-color: #3fab76;
}

.logo
{
    float: left;
}

    .logo img
    {
        width: 77%;
    }

.mn_left
{
    margin-left: 50px;
    float: left;
}

.mn_right
{
    float: right;
}

    .mn_right a
    {
        color: #fff;
        padding: 15px 10px 15px 0px;
    }

.hamburger
{
    height: 20px;
    width: 20px;
    padding: 20px;
    float: right;
    cursor: pointer;
}

    .hamburger:before
    {
        content: "";
        display: block;
        background-color: #f3f3f3;
        width: 100%;
        height: 4px;
    }

    .hamburger:after
    {
        content: "";
        display: block;
        background-color: #f3f3f3;
        width: 100%;
        height: 4px;
        margin-top: 4px;
        box-shadow: 0px 8px 0 #f3f3f3;
    }

nav
{
    background-color: #2b2b2b;
    margin: 0;
    max-height: 0;
    transition: max-height .3s cubic-bezier(0.63, 0, 0.25, 1);
    ;
}

    nav ul
    {
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
    }

    nav li
    {
        display: block;
        margin: 0;
        text-align: center;
    }

    nav a
    {
        color: white;
        display: block;
        padding: .4em;
    }

header input[type="checkbox"]:checked ~ nav
{
    max-height: 150px;
    border-bottom: #404040 5px solid;
}

header a:hover,
header a:focus,
header label:hover,
header label:focus
{
    background-color: #008a46;
    text-decoration: none;
    color: #fff;
}

@media (min-width: 700px)
{
    .hamburger
    {
        display: none;
    }

    nav
    {
        background: transparent;
        float: right;
        border: 0 !important;
        max-height: none;
    }

        nav ul, nav li, nav li a
        {
            display: inline-block;
        }

        nav a
        {
            display: inline-block;
            padding: 13px 1em;
        }

    /*.active
    {
        background-color: #008a46;
    }*/
}

.hidden
{
    position: fixed;
    top: -100%;
    left: -100%;
}


/*Login*/
.mn_main
{
    width: 100%;
    height: auto;
    float: left;
}

.mn_view_stock1, .mn_section1
{
    margin: 5px 0;
    /*float: left;*/
    width: 100%;
}

    .mn_view_stock1 h4
    {
        /*float: left;*/
        color: #008a46;
        border-left: double 4px #008a46;
        padding: 0 15px;
    }
    /*************************
        button
*************************/
    .mn_view_stock1 .mn_button
    {
        margin-top: 20px !important;
    }

    .mn_view_stock1 .button
    {
        font-size: 14px;
        text-align: center;
        border: 0px solid transparent;
        background: #008a46;
        color: #ffffff;
        margin: 0px 0px 0 3px;
        float: right;
        display: inline-block;
        text-transform: capitalize;
        vertical-align: middle;
        padding: 8px 20px;
        -ms-transform: perspective(1px) translateZ(0);
        -o-transform: perspective(1px) translateZ(0);
        -moz-transform: perspective(1px) translateZ(0);
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        position: relative;
        -ms-transition-property: color;
        -moz-transition-property: color;
        -o-transition-property: color;
        -webkit-transition-property: color;
        transition-property: color;
        -ms-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }

        .mn_view_stock1 .button:before
        {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #323232;
            -ms-transform: scaleY(0);
            -moz-transform: scaleY(0);
            -o-transform: scaleY(0);
            -webkit-transform: scaleY(0);
            transform: scaleY(0);
            -ms-transform-origin: 50% 100%;
            -moz-transform-origin: 50% 100%;
            -o-transform-origin: 50% 100%;
            -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
            -ms-transition-property: transform;
            -moz-transition-property: transform;
            -o-transition-property: transform;
            -webkit-transition-property: transform;
            transition-property: transform;
            -moz-transition-duration: 0.5s;
            -ms-transition-duration: 0.5s;
            -o-transition-duration: 0.5s;
            -moz-transition-duration: 0.5s;
            -ms-transition-duration: 0.5s;
            -o-transition-duration: 0.5s;
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
            -ms-transition-timing-function: ease-out;
            -moz-transition-timing-function: ease-out;
            -o-transition-timing-function: ease-out;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }

        .mn_view_stock1 .button:hover,
        .mn_view_stock1 .button:focus,
        .mn_view_stock1 .button:active
        {
            color: #ffffff;
            background-color: #008a46;
        }

            .mn_view_stock1 .button:hover:before,
            .mn_view_stock1 .button:focus:before,
            .mn_view_stock1 .button:active:before
            {
                -moz-transform: scaleY(1);
                -o-transform: scaleY(1);
                -ms-transform: scaleY(1);
                -webkit-transform: scaleY(1);
                transform: scaleY(1);
                -moz-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.50);
                -ms-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.50);
                -o-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.50);
                -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.50);
                transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.50);
            }

.mr-auto thead, .table-responsive thead
{
    background-color: #f8f8f8;
}

/*=====================================*/
.search-box
{
    box-shadow: 0 1px 3px rgba(50,50,93,.15), 0 1px 0 rgba(0,0,0,.02);
}

.dropdown-select
{
    position: relative;
    display: inline-block;
    text-align: left;
    width: 100%;
    box-shadow: 0 1px 3px rgba(50,50,93,.15), 0 1px 0 rgba(0,0,0,.02);
}

.mn_rules .form-control-label
{
    margin-top: 0px;
    font-weight: normal;
}

.form-control-label
{
    margin-top: 15px;
    font-weight: normal;
}

.mn_section1 p
{
    margin-top: 10px;
    text-align: center;
}

.dropdown-select .select
{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
    line-height: 1.42857;
    margin-bottom: 0;
    border: solid 1px #ddd;
    padding: 11px 35px 11px 12px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

    .dropdown-select .select:after
    {
        content: '';
        position: absolute;
        border: 5px solid transparent;
        border-top: 5px solid #555;
        top: 14px;
        right: 10px;
    }

    .dropdown-select .select:before
    {
        content: '';
        position: absolute;
        width: 1px;
        background: #ddd;
        top: 0;
        bottom: 0;
        right: 30px;
    }

.dropdown-select .option-list
{
    background-color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.17);
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.17);
    font-size: 14px;
    left: 0;
    list-style: none;
    margin: 2px 0 0;
    max-height: 220px;
    overflow-y: auto;
    padding: 5px 0;
    position: absolute;
    top: 100px;
    z-index: 100;
    width: 100%;
    display: none;
}

    .dropdown-select .option-list a
    {
        clear: both;
        color: #8898aa;
        display: block;
        line-height: 2;
        padding: 3px 20px;
        white-space: nowrap;
        text-decoration: none;
    }

.dropdown-select .search-box
{
    position: absolute;
    left: 0;
    top: 100%;
    display: inline-block;
    width: 100%;
    display: none;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.17);
    border-top: none;
    padding: 12px;
    z-index: 9;
    /*  position: relative;  */
}

.search-box .fa
{
    position: absolute;
    right: 33px;
    top: 29px;
    z-index: 9;
    color: #8898aa;
    font-size: 16px;
}

.dropdown-select .search-box + .option-list
{
    margin-top: 0px;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0;
    border-radius: 0 0 4px 4px;
    border-top: none;
}

.dropdown-select .seach-control
{
    width: 100%;
    height: 38px;
    border: 1px solid #dae1ec;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px;
    border-radius: 4px 4px 0 0;
    margin-top: 5px;
    padding: 5px 5px 5px 30px;
}

.dropdown-select .search-icon
{
    position: absolute;
    width: 13px;
    height: 13px;
    border: 2px solid #ccc;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    display: inline-block;
    left: 10px;
    z-index: 2;
    top: 12px;
}

    .dropdown-select .search-icon:after
    {
        content: '';
        width: 3px;
        height: 7px;
        background: #ccc;
        position: absolute;
        top: 7px;
        left: -3px;
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }


.warning .select
{
    background: #ffffff;
    color: #8898aa;
    ;
    width: 100%;
}

    .warning .select:after
    {
        border-top-color: #8898aa;
    }

    .warning .select:before
    {
        background: transparent;
    }

.warning .search-icon
{
    border-color: #fff;
}

    .warning .search-icon:after
    {
        background: #fff;
    }

.mn_Campaign1
{
    padding: 15px 0;
    background: #f5f5f5;
    border: solid 1px #ddd;
}

.mn_section1 input
{
    width: 100%;
    float: left;
    border: solid 1px #ccc;
    border-radius: 0px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 7px 0px 7px 12px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}
.mn_section1 select
{
    width: 100%;
    float: left;
    border: solid 1px #ccc;
    border-radius: 0px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 7px 0px 7px 12px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}
.nopad
{
    padding: 0 !important;
}

.bg
{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.span_pseudo, .chiller_cb span:before, .chiller_cb span:after
{
    content: "";
    display: inline-block;
    background: #fff;
    width: 0;
    height: 0.2rem;
    position: absolute;
    transform-origin: 0% 0%;
}

.border-left .chiller_cb
{
    height: auto;
    margin-top: 30px;
}

.chiller_cb
{
    position: relative;
    height: 5rem;
    display: flex;
    align-items: center;
}

    .chiller_cb input
    {
        display: none;
    }

        .chiller_cb input:checked ~ span
        {
            background: #fd2727;
            border-color: #fd2727;
        }

            .chiller_cb input:checked ~ span:before
            {
                width: 1rem;
                height: 0.15rem;
                transition: width 0.1s;
                transition-delay: 0.3s;
            }

            .chiller_cb input:checked ~ span:after
            {
                width: 0.4rem;
                height: 0.15rem;
                transition: width 0.1s;
                transition-delay: 0.2s;
            }

        .chiller_cb input:disabled ~ span
        {
            background: #ececec;
            border-color: #dcdcdc;
        }

        .chiller_cb input:disabled ~ label
        {
            color: #dcdcdc;
        }

            .chiller_cb input:disabled ~ label:hover
            {
                cursor: default;
            }

    .chiller_cb label
    {
        padding-left: 2rem;
        position: relative;
        z-index: 2;
        cursor: pointer;
        margin-bottom: 0;
    }

    .chiller_cb span
    {
        display: inline-block;
        width: 1.2rem;
        height: 1.2rem;
        border: 2px solid #ccc;
        position: absolute;
        left: 0;
        transition: all 0.2s;
        z-index: 1;
        box-sizing: content-box;
    }

        .chiller_cb span:before
        {
            transform: rotate(-55deg);
            top: 1rem;
            left: 0.37rem;
        }

        .chiller_cb span:after
        {
            transform: rotate(35deg);
            bottom: 0.35rem;
            left: 0.2rem;
        }


.mn_Campaign
{
    background-color: #f8f8f8;
    padding: 0 15px;
    border: solid 1px #ddd;
}

.ml-auto .btn-group
{
    position: relative;
    margin: 0 0 10px 1px;
    display: inline-flex;
    vertical-align: middle;
}

.btn-group .btn
{
    padding: 6.5px 15px !important;
}

.btn.btn-round
{
    border-radius: 30px !important;
}

.btn-group .btn.btn-round
{
    border-radius: 30px !important;
}

.btn-group > .btn:not(:last-child):not(.dropdown-toggle)
{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.multiselect-native-select .dropdown-menu
{
    border-radius: 0;
}

.btn-group > .btn:not(:first-child)
{
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.ml-auto .btn
{
    margin: 5px 1px 0;
    box-shadow: 0 2px 2px 0 hsla(0,0%,60%,.14), 0 3px 1px -2px hsla(0,0%,60%,.2), 0 1px 5px 0 hsla(0,0%,60%,.12);
    background-color: #008a46;
    border: solid 1px #ddd;
}

.btn.btn-sm
{
    border-radius: 3px !important;
}

.card .list-group
{
    margin-bottom: 0;
}

.ml-auto .table-responsive
{
    background: #fff;
    margin-top: 25px;
    border: solid 1px #ddd;
}

.btn.btn-just-icon.btn-sm
{
    height: 30px;
    min-width: 30px;
    width: 30px;
    line-height: 28px;
}

.caret
{
    float: right;
    margin-top: 8px;
}

.btn.btn-just-icon
{
    font-size: 24px;
    height: 41px;
    min-width: 41px;
    width: 41px;
    padding: 0 !important;
    overflow: hidden;
    position: relative;
    line-height: 41px;
}

    .btn.btn-just-icon.btn-round
    {
        border-radius: 50% !important;
    }

.btn.btn-success
{
    border-radius: 0.25rem;
    color: #fff !important;
    background-color: #4caf50 !important;
    border-color: #4caf50;
    box-shadow: 0 2px 2px 0 rgba(76,175,80,.14), 0 3px 1px -2px rgba(76,175,80,.2), 0 1px 5px 0 rgba(76,175,80,.12) !important;
}

    .btn.btn-success:hover
    {
        box-shadow: 0 14px 26px -12px rgba(76,175,80,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(76,175,80,.2) !important;
        background: #47a44b !important;
    }

.ml-auto .table
{
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
    background-color: transparent;
}

    .ml-auto .table thead tr th
    {
        font-size: 17px;
        font-weight: 300;
    }

    .ml-auto .table > thead > tr > th
    {
        padding: 12px 8px;
        vertical-align: middle;
        border-color: #ddd;
        font-weight: 300;
    }

    .ml-auto .table > tbody > tr > td
    {
        padding: 8px;
        vertical-align: middle;
        border-color: #ddd;
        font-weight: 300;
        font-size: 14px;
        color: #3c4858;
    }

.table .td-actions .btn
{
    margin: 0;
    padding: 5px;
    background-color: #dc0000;
    border: none;
}

.table .td-total
{
    font-weight: 500;
    font-size: 17px;
    padding-top: 20px;
    text-align: right;
}

.table .td-price
{
    font-size: 26px;
    font-weight: 300;
    margin-top: 5px;
    text-align: right;
}

.table-striped > tbody > tr:nth-of-type(odd)
{
    background-color: #f9f9f9 !important;
}









.border-left
{
    border-left: solid 1px #ddd;
}

.mn_section1 .multiselect
{
    text-align: left;
    background-color: #fff !important;
    border-radius: 0;
}

.multiselect-native-select
{
    position: relative;
    width: 100%;
    float: left;
}

    .multiselect-native-select select
    {
        border: 0 !important;
        clip: rect(0 0 0 0) !important;
        height: 1px !important;
        margin: -1px -1px -1px -3px !important;
        overflow: hidden !important;
        padding: 0 !important;
        position: absolute !important;
        width: 1px !important;
        left: 50%;
        top: 30px;
    }

.multiselect-container
{
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    right: auto;
    left: 0;
}

    .multiselect-container .input-group
    {
        margin: 5px;
    }

    .multiselect-container li
    {
        padding: 0;
    }

        .multiselect-container li .multiselect-all label
        {
            font-weight: 700;
        }

        .multiselect-container li a
        {
            padding: 0;
        }

            .multiselect-container li a label
            {
                margin: 0;
                height: 100%;
                cursor: pointer;
                font-weight: 400;
                padding: 3px 10px 3px 10px;
            }

                .multiselect-container li a label input[type=checkbox]
                {
                    margin-bottom: 5px;
                    width: auto;
                }

                .multiselect-container li a label.radio
                {
                    margin: 0;
                }

                .multiselect-container li a label.checkbox
                {
                    margin: 0;
                }

        .multiselect-container li.multiselect-group label
        {
            margin: 0;
            padding: 3px 20px 3px 20px;
            height: 100%;
            font-weight: 700;
        }

        .multiselect-container li.multiselect-group-clickable label
        {
            cursor: pointer;
        }

.btn-group .btn-group .multiselect.btn
{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.form-inline .multiselect-container label.checkbox
{
    padding: 3px 20px 3px 40px;
}

.form-inline .multiselect-container label.radio
{
    padding: 3px 20px 3px 40px;
}

.form-inline .multiselect-container li a label.checkbox input[type=checkbox]
{
    margin-left: -20px;
    margin-right: 0;
}

.form-inline .multiselect-container li a label.radio input[type=radio]
{
    margin-left: -20px;
    margin-right: 0;
}


.form-group textarea
{
    border-radius: 0;
}

.modal-body label
{
    text-align: right;
}

.ml-auto .mn_top
{
    margin-top: 0;
}

.mn_dis label
{
    float: right;
}

.mn_top1 input
{
    width: auto;
    float: right;
}

.mn_top1
{
    margin-top: 10px;
}

    .mn_top1 p
    {
        border: solid 1px #ddd;
        padding: 15px;
        text-align: justify;
    }

@keyframes check
{
    0%
    {
        height: 0;
        width: 0;
    }

    25%
    {
        height: 0;
        width: 10px;
    }

    50%
    {
        height: 20px;
        width: 10px;
    }
}

.card-header
{
    padding: 15px;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border: 1px solid rgba(0,0,0,.125);
}

.card .list-group-item input
{
    width: auto;
    margin: 4px 18px;
}

.modal .modal-backdrop
{
    z-index: auto;
}

.modal .modal-dialog
{
    width: 600px;
}

.modal-content .modal-footer
{
    border: none;
}


.mn_request td, .mn_request th
{
    text-align: center;
}



/*Chart*/

#chartdiv, #chartdiv1, #chartdiv2, #chartdiv3
{
    width: 100%;
    height: 500px;
}

.mn_rules .mn_rules_verify
{
    float: left;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 0;
}

.mn_filter
{
    padding: 5px;
    background-color: #f8f8f8;
    border: solid 1px #ddd;
        position: relative;
    z-index: 999;
}

.btn-danger
{
    color: #fff;
    background-color: #dc3545!important;
    border-color: #dc3545!important;
}

.container1
{
    padding-left: 20px;
    padding-right: 20px;
}
