﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="SiteMaster.master.cs" Inherits="TT_Desk.SiteMaster" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>TaeguTec</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/style.css" rel="stylesheet" />
    <%--  <script src="js/jquery-1.12.4.js"></script>--%>
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="vendor/jquery/jquery-ui.min.js"></script>
    <link href="css/jquery-ui.css" rel="stylesheet" />
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <%-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>--%>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <script src="js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

    <style>
        .dropdown-menu {
            left: auto;
            right: 0;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">

        <header>
            <div class="col-md-12">
                <label class="hamburger" for="nav-toggle"></label>
                <input id="nav-toggle" type="checkbox" class="hidden" />
                <div class="logo">
                    <img src="images/logo.png" alt="">
                </div>
                <nav class="mn_left">
                    <ul runat="server" id="tabs">
                    </ul>
                   <%-- <ul>
                        <li><a href="#">Dashboard </a></li>
                        <li><a href="PendingTasks.aspx">Pending Quotes</a></li>
                        <li><a href="QuoteSummary.aspx">Quote Summary</a></li>
                        <li><a href="EscalatedQuotes.aspx">Escalated Quotes</a></li>
                        <li><a href="SpecialQuote.aspx">Special Quote</a></li>
                        <li><a href="SpecialQuoteSummary.aspx">Special Quote Summary</a></li>
                        <li><a href="ProjectQuotation.aspx">Project Quotation</a></li>
                    </ul>--%>

                </nav>

                <nav class="mn_right">
                    <li class=" dropdown">
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <asp:Label runat="server" ID="lblUserName" class="username" Text="WelcomeGuest" Style="padding-left: 9px;"></asp:Label>
                        </a>
                        <ul class="dropdown-menu mn_drop">
                            <li><a href="ResetPassword.aspx" style="padding-left: 10px;">Reset Password</a></li>
                            <li>
                                <asp:LinkButton runat="server" ID="LinkButton1" OnClick="lnkbtnLogout_Click" Style="padding-left: 10px;">Logout</asp:LinkButton></li>

                        </ul>
                    </li>
                </nav>

            </div>
        </header>


        <div class="mn_main">
            <asp:ContentPlaceHolder ID="body" runat="server">
            </asp:ContentPlaceHolder>
        </div>

    </form>


    <script>
        const $drowdownArrow = document.querySelector('.fa-angle-down');
        const $checkbox = document.getElementById('openDropdown');
        const $dropdownMenu = document.querySelector('.dropdown-menu');



        $checkbox.addEventListener('change', () => {
            $drowdownArrow.classList.toggle('rotate-dropdown-arrow');
        });



        $dropdownMenu.addEventListener('click', (e) => {
            $checkbox.checked = false;
            // setting checked to false won't trigger 'change'
            // event, manually dispatch an event to rotate
            // dropdown arrow icon
            $checkbox.dispatchEvent(new Event('change'));
        });
    </script>

</body>


</html>


